body {background-color:black;font-family: Arial; color: white;}
h1{color:grey;font-family: Verdana;}
.maindiv{
    color: black;
    width: 300px;
    padding-left: 20px;
    background-color: white;
    border-radius: 25px;
    align: center}


